<h2>This is EJS template view</h2>
<h3>And this is for listing courses</h3>

<ul>
    <% fsdCourses.forEach((courseName)=>{
        %>
        <li><%= courseName.name %> </li>
    <%    
    
    }
    ); %>
</ul>