<html>

<head>
    Body-Parser demo
</head>

    <body>
        <h4>course registration:-</h4>
        <form action="saveData" method="POST">
            Name : <input type="text" name="urname">
            emailAddress: <input type="text" name="email">

            <input type="submit" value="Submit!!">
        </form>
        


    </body>

</html>